.digitalClock{
    display: flex;
    position: absolute;
    top: 50%;
    left: 40%;
}
.digitalTime{
    display: flex;
}
#container{
    height: 100vh;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
@media screen and (min-device-width: 712px) and (max-device-width: 1138px) {
    .digitalClock {
        position: absolute;
        top: 40%;
        left: 25%;
    }
  }
  @media screen and (min-device-width: 360px) and (max-device-width: 640px) {
    .digitalClock {
        position: absolute;
        top: 20%;
        left: 10%;
    }
    
    @media screen and (min-device-width: 414px) and (max-device-width: 894px) {
        .digitalClock {
            position: absolute;
            top: 40%;
            left: 12%;
        }
    }
  }
  